/* Colors */
/* https://theme.numl.design/ */
:root {
  --bg-color: rgba(255, 255, 255, 1);
  --text-color: rgba(63, 44, 31, 1);
  --text-soft-color: rgba(86, 71, 63, 1);
  --text-strong-color: rgba(74, 74, 74, 1);
  --subtle-color: rgba(254, 248, 246, 1);
  --border-color: rgba(249, 226, 214, 1);
  --shadow-color: rgba(224, 183, 157, 1);
  --input-color: rgba(255, 255, 255, 1);
  --outline-color: rgba(250, 178, 124, 1);
  --mark-color: rgba(191, 114, 0, 0.08);
  --special-color: rgba(191, 114, 0, 1);
  --special-bg-color: rgba(196, 118, 0, 1);
  --special-text-color: rgba(255, 255, 255, 1);
  --special-shadow-color: rgba(120, 86, 62, 1);
  --special-mark-color: rgba(255, 255, 255, 0.08);
  --light-color: rgba(255, 241, 234, 1);
  --dark-color: rgba(92, 65, 46, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(32, 32, 32, 1);
    --text-color: rgba(231, 221, 216, 1);
    --text-soft-color: rgba(198, 185, 179, 1);
    --text-strong-color: rgba(187, 187, 187, 1);
    --subtle-color: rgba(43, 35, 30, 1);
    --border-color: rgba(62, 45, 32, 1);
    --shadow-color: rgba(0, 0, 0, 1);
    --input-color: rgba(28, 28, 28, 1);
    --outline-color: rgba(217, 141, 70, 1);
    --mark-color: rgba(196, 122, 40, 0.08);
    --special-color: rgba(196, 122, 40, 1);
    --special-bg-color: rgba(141, 86, 26, 1);
    --special-text-color: rgba(231, 221, 216, 1);
    --special-shadow-color: rgba(41, 27, 17, 1);
    --special-mark-color: rgba(231, 221, 216, 0.08);
    --light-color: rgba(251, 202, 171, 1);
    --dark-color: rgba(69, 48, 33, 1);
  }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(255, 255, 255, 1);
    --text-color: rgba(43, 29, 19, 1);
    --text-soft-color: rgba(38, 31, 26, 1);
    --text-strong-color: rgba(74, 74, 74, 1);
    --subtle-color: rgba(254, 248, 246, 1);
    --border-color: rgba(208, 175, 155, 1);
    --shadow-color: rgba(186, 149, 125, 1);
    --input-color: rgba(255, 255, 255, 1);
    --outline-color: rgba(248, 156, 54, 1);
    --mark-color: rgba(148, 88, 0, 0.16);
    --special-color: rgba(148, 88, 0, 1);
    --special-bg-color: rgba(153, 90, 0, 1);
    --special-text-color: rgba(255, 255, 255, 1);
    --special-shadow-color: rgba(51, 35, 23, 1);
    --special-mark-color: rgba(255, 255, 255, 0.16);
    --light-color: rgba(255, 241, 234, 1);
    --dark-color: rgba(92, 65, 46, 1);
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(32, 32, 32, 1);
    --text-color: rgba(243, 238, 236, 1);
    --text-soft-color: rgba(241, 239, 238, 1);
    --text-strong-color: rgba(187, 187, 187, 1);
    --subtle-color: rgba(43, 35, 30, 1);
    --border-color: rgba(93, 78, 69, 1);
    --shadow-color: rgba(0, 0, 0, 1);
    --input-color: rgba(28, 28, 28, 1);
    --outline-color: rgba(213, 138, 69, 1);
    --mark-color: rgba(245, 153, 53, 0.16);
    --special-color: rgba(245, 153, 53, 1);
    --special-bg-color: rgba(114, 69, 19, 1);
    --special-text-color: rgba(243, 238, 236, 1);
    --special-shadow-color: rgba(0, 0, 0, 1);
    --special-mark-color: rgba(243, 238, 236, 0.16);
    --light-color: rgba(253, 222, 205, 1);
    --dark-color: rgba(69, 48, 33, 1);
  }
}