/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-v25-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Based on https://typescale.com/ */
/* Breakpoints based on https://getbootstrap.com/docs/5.1/layout/breakpoints/ */

/* Small devices (landscape phones, 576px and up) and also default */
/* Major Second */
:root {
    --font-family: 'Montserrat', sans-serif;
    --font-weight: 400;
    --font-size-base: 1rem;
    --font-size-small: 0.889rem;

    --font-size-h1: 1.802rem;
    --font-size-h2: 1.602rem;
    --font-size-h3: 1.424rem;
    --font-size-h4: 1.266rem;
    --font-size-h5: 1.125rem;

    --line-height-base: 1.75rem;
    --line-height-heading: 1.3rem;
    --line-height-small: 1.25rem;

    --margin-top-heading: 3rem;
    --margin-bottom-heading: 1.38rem;
    --margin-bottom: 1rem;
}

@media (min-width: 576px) {
    :root {
        --font-size-h1: 1.802rem;
        --font-size-h2: 1.602rem;
        --font-size-h3: 1.424rem;
        --font-size-h4: 1.266rem;
        --font-size-h5: 1.125rem;

        --font-size-small: 0.889rem;
    }
}

/* Medium devices (tablets, 768px and up) */
/* Major Third */
@media (min-width: 768px) {
    :root {
        --font-size-h1: 3.052rem;
        --font-size-h2: 2.441rem;
        --font-size-h3: 1.953rem;
        --font-size-h4: 1.563rem;
        --font-size-h5: 1.25rem;

        --font-size-small: 0.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
/* Perfect Fourth */
@media (min-width: 992px) {
    :root {
        --font-size-h1: 4.209rem;
        --font-size-h2: 3.157rem;
        --font-size-h3: 2.369rem;
        --font-size-h4: 1.777rem;
        --font-size-h5: 1.333em;

        --font-size-small: 0.75rem;
    }
}